* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.lock text eol=lf

.gitignore text eol=lf
.python-version text eol=lf
LICENSE text eol=lf
.gitattributes text eol=lf
